[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thoth-python = "*"
thoth-common = "*"
pyyaml = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.6"
